<h2>Create Celebrities</h2>

<form method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <label for="occupation">Occupation</label>
  <input type="text" name="occupation" id="occupation">

  <label for="catchPhrase">catchPhrase</label>
  <input type="text" name="catchPhrase" id="catchPhrase">


<button>Create</button>
</form>